@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --font-destaque: 'Josefin Sans', sans-serif;
}
*{ margin: 0 auto; padding: 0; box-sizing: border-box; 
}
html{
    height: 100%;
    width: 100%;
}
body{
    font-family:var(--font-destaque);
    background-color: #81CACF;
    max-height: 100vh;
    width: 100%;
    height: 100%;
   
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    min-height: 250px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.435); 
}#res{
    background-color: #D6EFED;
    border: 1px solid rgb(177, 174, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 2px 10px 2px;
    margin-top: 5px;
    
}
#btn{
    margin: 4px 0px;
    width: 100px;
    height: 40px;
}
footer{
    margin-top: 10px;
    color: white;
    text-align: center;
}